@font-face {
	font-family: Better VCR;
	font-weight: normal;
	src: url(font/Better-VCR/better-vcr_0.ttf);
}

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-secondary-bg-color);
	float: var(--tg-viewport-height);
	font-family: "Verdana", "Better VCR", sans-serif;
	-webkit-font-smoothing: antialiased;
	display: flex;
}

.container {
	max-width: 390px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.balance{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-balance h2 {
	text-align: center;
    font-size: 14px;
	font-weight: bolder;

}

.cents {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.dollars {
    position: relative;
    top: -3.5px;
}

.balance-amount {
    font-size: 28px;
    font-weight: bold;
	font-family: "Better VCR", sans-serif;
	text-align: center;
    display: flex;
    align-items: center;
}

.currency-symbol {
    opacity: 0.5;
    font-size: 20px;
	font-family: "Better VCR", sans-serif;
    display: flex;
    align-items: center;
    margin: 5px;
}

.add-button {
    background-image: url(images/plus.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--tg-theme-secondary-bg-color);
}


.action-buttons {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-link-color);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    margin: 0px 10px;
    cursor: pointer;
}

.catalog-button {
    margin-right: 55px;
}

.debitores-button {
    margin-right: 55px;
}

.currencies {
    margin-top: 30px;
}

.currencies h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.currency-list {
    list-style: none;
    padding-left: 0;
}

.currency-list li {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.transaction-history {
    margin-top: 30px;
}

.transaction-history h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.transaction-list {
    list-style: none;
    padding-left: 0;
}

.transaction-list li {
    font-size: 1.2em;
    margin-bottom: 5px;
}
