@font-face {
	font-family: Better VCR;
	font-weight: normal;
	src: url(font/Better-VCR/better-vcr_0.ttf);
}

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-secondary-bg-color);
	float: var(--tg-viewport-height);
	font-family: "Verdana", "Better VCR", sans-serif;
	-webkit-font-smoothing: antialiased;
	display: flex;
}

.container {
	max-width: 360px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.balance{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-balance h2 {
	text-align: center;
    font-size: 14px;
	font-weight: normal;
    position: relative;
    top: 20px;
}

.cents {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.dollars {
    position: relative;
    top: -3.5px;
}

.balance-amount {
    font-size: 28px;
    font-weight: bold;
	font-family: "Better VCR", sans-serif;
	text-align: center;
    display: flex;
    align-items: center;
}

.currency-symbol {
    opacity: 0.5;
    font-size: 20px;
	font-family: "Better VCR", sans-serif;
    display: flex;
    align-items: center;
    margin: 5px;
}

.add-button {
    background-image: url(images/plus.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--tg-theme-secondary-bg-color);
}


.button-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    align-items: center;
    position: relative;
    flex-direction: row;
}
img {
    width: 34px;
    height: 30px;
    margin-bottom: 20px;
}

.catalog-button {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-link-color);
    border: none;
    font-weight: bolder;
    margin-top: 20px;
    margin-right: 12px;
    margin-left: 10px;
}


.catalog-button:nth-child(1) img {
    position: absolute;
    top: 0px;
    left: 64px;
}

.debitores-button {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-link-color);
    border: none;
    font-weight: bolder;
    margin-top: 20px;
    margin-right: 21px;
    margin-left: 10px;
}

.debitores-button:nth-child(2) img {
    position: absolute;
    top: 0px;
    left: 166px;
}

.other-button {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-link-color);
    border: none;
    font-weight: bolder;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 2.5px;
}

.other-button:nth-child(3) img {
    position: absolute;
    top: 0px;
    left: 268px;
}

@media (max-width: 360px){
    .catalog-button:nth-child(1) img {
        position: absolute;
        top: 0px;
        left: 34px;
    }

    .debitores-button:nth-child(2) img {
        position: absolute;
        top: 0px;
        left: 135.5px;
    }

    .other-button:nth-child(3) img {
        position: absolute;
        top: 0px;
        left: 237px;
    }
}

.currencies {
    margin-top: 30px;
}

.currencies h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.currency-list {
    list-style: none;
    padding-left: 0;
}

.currency-list li {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.transaction-history {
    margin-top: 30px;
}

.transaction-history h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.transaction-list {
    list-style: none;
    padding-left: 0;
}

.transaction-list li {
    font-size: 1.2em;
    margin-bottom: 5px;
}
